head{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: antiquewhite;
}

h1{
    color:blue;
}

h2{
    color: darkgreen;
}

#div-form{
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
    margin: 20px auto;
    padding: 40px;
}

label{
    display: block;
    padding: 10px 0px;
}

input{
    display: block;
    margin: 10px 0px;
}

#div-dados{
    width: 100%;
    height: 80px;
    margin: 50px 0px;
    background-color: rgb(71, 81, 81);
}